{% extends "base.html" %}

{% block content %}
{% if page == 'login' %}
    <div class="login_form">
        <form method="POST" action="">
            <div>
                <h1>LOGIN</h1>
            </div>
            {% csrf_token %}
            <div>
                <label>USERNAME</label>
                <input type="text" name="Username" placeholder="Enter Username"/>
            </div>
            <div>
                <label>PASSWORD</label>
                <input type="password" name="Password" placeholder="Enter Password"/>
            </div>
            <input type="submit" value="Login">
        </form>
        <p>Haven't signed up yet?</p>
        <a href="{%url 'register' %}">Register</a>
    </div>
{%else%}
    <div>
        <form method="POST" action="">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Register">
        </form>
        <p>Already signed up?</p>
        <a href="{%url 'login'%}">Login</a>
    </div>
{%endif%}
{% endblock content %}