{% extends "base.html" %}
{%load static %}

{% block tile %}Display{% endblock tile %}
{% block content %}
    <p>User Name: {{user.username}}</p>

    {%if user.first_name%}
        <p>First Name: {{user.first_name}}</p>
    {%else%}
        <p>First Name: None</p>
    {%endif%}

    {%if user.last_name%}
        <p>Last Name: {{user.last_name}}</p>
    {%else%}
        <p>Last Name: None</p>
    {%endif%}

    {%if user.email%}
        <p>Email: {{user.email}}</p>
    {%else%}
        <p>Email: None</p>
    {%endif%}
    {%if request.user == user%}
        <a href="userp/">Edit profile</a>
    {%endif%}
{%endblock content%}