{% extends "base.html" %}

{% block tile %}Display{% endblock tile %}
{% block content %}
    <div>
        <table>
            <thead>
                <th>Title</th>
                <th>Content</th>
                <th>Image</th>
                <th>Last Updated</th>
                <th>Created</th>
                <th>User</th>
                <th>Delete</th>
                <th>Edit</th>
            </thead>
            <tbody>
                {% for article in articles %}
                    <tr>
                        <td>
                            {{article.title}}
                        </td>
                        <td>
                            {{article.content}}
                        </td>
                        <td>
                            {{article.image}}
                        </td>
                        <td>
                            {{article.last_update}}
                        </td>
                        <td>
                            {{article.created}}
                        </td>
                        <td>
                            {{article.user}}
                        </td>
                        <td>
                            <a href="/edit/{{ article.id }}">Update</a>
                        </td>
                        <td>
                            <a href="/delete/{{ article.id }}">
                                Delete
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}