body{
    background-color: #ffffff;
}

.pagination{
    display: inline-block;
}

.pagination a{
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px;
}
/* .Title{
    background-color: #d5ee5b;
} */