body{
    background-color: #aa7979;
}

.pagination{
    display: inline-block;
}

.pagination a{
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px;
}

.login_form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100%;
}